.Studentheading {
    color: #10266b;
    font: 50 2.5rem "Josefin-Sans-light";
    border-bottom: 2px solid rgba(0, 0, 0, 0.788);
    width: 80%;
    margin: auto;
    margin-top: 3vmax !important;
    margin-bottom: 2vmax !important;
    line-height: 1.2;
  }
  
  
  .Courses{
      justify-content: center;
      display: flex;
      /* margin: 2vmax auto; */
      /* width: 80vw; */
      flex-wrap: wrap;
      max-width: 100%;
  }
  
  .Courses > div{
      width: 20vmax;
      border: 3px solid rgba(0, 0, 0, 0.774);
      margin: 2vmax;
      padding: 1vmax;
  }