.SignInFormContainer{
    background-color: white;
    height: 80vmin;
    width: 80%;
    margin: auto;
    border-radius: 50px;
    box-shadow: 2px 1px 5px 5px #c9c9c9;
}


.Redirect {
  display: flex;
  margin: auto !important;
  /* width: 60% !important; */
}
.Redirect > p {
color: #780206 !important;
font: bolder 1.3vmax "Roboto";
}

.Redirect > p > span {
  margin-left: 0.5vmax;
  color:  #061161;
  font: bolder 1.3vmax "Roboto";
}

.fp > p{
    font: 800  1.4vmax "Roboto" !important ;
}