.NavContainer{
    display: grid;

margin: 3vmax !important;
    grid-template-columns: 4fr 1fr;
}

.NavContainer > div > button{
    background-color: white;
    border: 3px solid ;
    color: rgb(0, 146, 61);
padding: 1vmax;
}

.answerContainer{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}
.answerContainer > input{
    color: white !important; 
    background-color: rgba(0, 2, 109, 0.616);
    border: 1px solid white;
    display: block;
    margin: auto;
    width: 48% !important;  
    margin-bottom: 1vmax !important;
    padding: 1vmax;
}
.QuizQuestion{
    color: white !important; 
    background-color: rgba(0, 2, 109, 0.616);
    border: 1px solid white;
    display: block;
    margin: auto;
    width: 80%;
    margin-bottom: 1vmax !important;
    padding: 1vmax;
}

.modal > div >input::placeholder,
.answerContainer > input::placeholder{
    color: white !important;
}



.modal > div >  button{
    padding: 1vmax;
    margin: 1vmax;
}
.modal > div::-webkit-scrollbar {
  display: none; }


.select{
    padding: 1vmax 4vmax;
    margin: auto;
    padding-right: 1vmax;
    width: 95%;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 4px;
    font: 300 1.5vmax cursive;
    outline: none;
    background-color: transparent;
    color: white;
}

.option{
color: black;
background-color: transparent;
}

@media only screen and (max-width: 400px) {
    .NavContainer{
        display: grid;
    margin: 4vmax !important;
        grid-template-columns:1fr;
    }
    .NavContainer > button{
        margin-left: 10vmax !important;
    }
}